%ul{
    margin: 0;
    padding:0;
    display:flex;
}
html{
    width:100%;
    height:100%;
    body{
        @extend html;
        margin:0;
        padding:0;
        display:flex;
        flex-direction: column;
        
        header{
            
            width:100%;
            height:187px;
            
        }
        
        section{
            width:100%;
            flex:1;
            display:flex;
            flex-direction:column;
            overflow-y:auto;
            div{
                width:100%;
                height:100%;
                display:flex;
                flex-direction:column;
                
                h3{
                    text-align: center;
                }
                p{
                    margin: 0;
                    padding:0;
                }
            }
            nav{
                display:flex;
                flex-direction:column;
                 width:100%;
                    height:100%;
                div{
                    width:100%;
                    height:100%;
                    display:flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    img{
                        margin: 0;
                        padding:0;
                        
                    }
                }
               
            }
        }
        footer{
            width:100%;
            height:50px;
        }
    }
    
}
